.body {
  background-color: hsl(0, 0%, 98%);
}

.lower-part {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-template-areas:
    "";
}

.upper-part {
  text-align: center;
  grid-column-start: 3fr;
  grid-column-end: 8fr;
  grid-row-start: 2fr;
  grid-row-end: 3fr;
  border: 1px solid black;
}

.top-box {
  grid-column-start: 3fr;
  grid-column-end: 8fr;
  grid-row-start: 2fr;
  grid-row-end: 3fr;
  border: 1px solid black;
}

.left-box {
  grid-column-start: 3fr;
  grid-column-end: 8fr;
  grid-row-start: 2fr;
  grid-row-end: 3fr;
  border: 1px solid black;

}

.right-box {
  grid-column-start: 3fr;
  grid-column-end: 8fr;
  grid-row-start: 2fr;
  grid-row-end: 3fr;
  border: 1px solid black;
}

.bottom-box {
  grid-column-start: 3fr;
  grid-column-end: 8fr;
  grid-row-start: 2fr;
  grid-row-end: 3fr;
  border: 1px solid black;

}

footer {
  position: relative;
}

@media only screen and (max-width: 550px; ) {}