body {
  background-color: white;
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "upper-part upper-part upper-part upper-part"
    ". team team ."
    "supervisor team team calculator"
    "supervisor karma karma calculator"
    ". karma karma ."
    "footer footer footer footer"
}

.upper-part {
  text-align: center;
  border: 1px solid black;
  grid-area: upper-part;
}

.supervisor {
  background-color: hsl(0, 0%, 98%);
  border: 1px solid black;
  grid-area: supervisor;
}

.team_builder {
  background-color: hsl(0, 0%, 98%);
  border: 1px solid black;
  grid-area: team;
}

.karma {
  border: 1px solid black;
  background-color: hsl(0, 0%, 98%);
  grid-area: karma;
}

.calculator {
  border: 1px solid black;
  background-color: hsl(0, 0%, 98%);
  grid-area: calculator;
}

footer {
  border: 1px solid black;
  position: relative;
  grid-area: footer;
}

@media only screen and (max-width: 550px; ) {}