.body {
  background-color: hsl(0, 0%, 98%);
  max-width: 1440px;
}

.lower-part {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(auto-fill, minmax(305px, 353px));
  grid-template-rows: repeat(12, minmax(220px, 250px));
  grid-template-areas:
    "";
}

.upper-part {
  text-align: center;
  border: 1px solid black;
}

.supervisor {
  border: 1px solid black;
}

.team_builder {
  border: 1px solid black;

}

.karma {
  border: 1px solid black;
}

.calculator {
  border: 1px solid black;

}

footer {
  position: relative;
}

@media only screen and (max-width: 550px; ) {}